@{
    ViewData["Title"] = "Parola Değiştirme";
}
@model AppUserPasswordChangeViewModel

<div class="row">

    <div class="col-md-6 offset-md-2">

        <h3>Parola Değiştirme Formu</h3>
        <hr />

        @if (TempData["StatusMessage"] != null)
        {
            <div class="alert alert-success" role="alert"> @TempData["StatusMessage"]</div>
        }

        <div class="alert alert-danger" asp-validation-summary="ModelOnly" role="alert"></div>
        <form asp-controller="Members" asp-action="PasswordChange" method="post">



            <div class="mb-3">
                <label asp-for="CurrentPassword" for="exampleInputPassword1" class="form-label"></label>
                <input asp-for="CurrentPassword" type="password" class="form-control">
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" for="exampleInputPassword1" class="form-label"></label>
                <input asp-for="NewPassword" type="password" class="form-control">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPasswordConfirm" for="exampleInputPassword1" class="form-label"></label>
                <input asp-for="NewPasswordConfirm" type="password" class="form-control">
                <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">

                    <button type="submit" class="btn btn-primary">Değiştir</button>

                </div>
            </div>

        </form>
    </div>

</div>