@{
    ViewData["Title"] = "Kullanıcı Ekleme";
}
@model AppUserSignUpViewModel

<div class="row">

    <div class="col-md-8 offset-md-2">

        <h3>Kullanıcı Ekleme Formu</h3>
        <hr />

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert"> @TempData["SuccessMessage"]</div>
        }

        <div class="alert alert-danger" asp-validation-summary="ModelOnly" role="alert"></div>
        <form asp-area="Management" asp-controller="Users" asp-action="AddUser" method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <label asp-for="UserName" for="exampleInputEmail1" class="form-label"> </label>
                <input type="text" class="form-control" asp-for="UserName">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" for="exampleInputEmail1" class="form-label">   </label>
                <input asp-for="Email" type="text" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber" for="exampleInputEmail1" class="form-label"></label>
                <input type="text" class="form-control" asp-for="PhoneNumber">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" for="exampleInputPassword1" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" for="exampleInputPassword1" class="form-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">

                    <button type="submit" class="btn btn-primary">Ekle</button>

                </div>
            </div>

        </form>
    </div>

</div>